@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200&family=Quicksand:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 2rem;


}

/*header*/
.logo {
    width: 5rem;
    border-radius: 30%;
    grid-area: logo;

}

.header {
    background-color: black;
    color: red;
    display: flex;
    padding: 1rem 6rem;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: red;
    max-width: 100%;
}

.menu {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    font-family: 'Gluten', cursive;
}

/*main*/
.listado {
    background-color: rgb(8, 8, 83);
    display: grid;
    gap: 2rem;
    justify-content: center;
    padding: 3rem 10rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.items {
    background-color: rgb(8, 8, 83);
    flex: 1;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
    font-size: .85rem;
    color: red;
}

.fotos {
    aspect-ratio: 16/9;
}

footer {
    height: 1.5rem;
    background-color: black;
}

.mapa {
    width: 100%;
}

.color-seccion {
    background-color: beige;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;

    grid-template-areas:
        ". somos casado ."
        ". cvacas nuestras .";
}

.somos {
    grid-area: somos;
    background-color: brown;
    color: white;
    padding: 1rem;

}

.c-asado {
    grid-area: casado;
    background-color: brown;
}

.c-vacas {
    grid-area: cvacas;
    background-color: brown;
}

.nuestras {
    grid-area: nuestras;
    background-color: brown;
    color: white;
    padding: 1rem;

}

.facebook {
    color: blue;
}

.instagram {
    color: red;
}

.tiktok {
    color: white;
}

.whatsapp {
    color: #43fd22;
}

footer a {
    padding: 1rem;
}



@media(max-width: 730px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "ind vac"
            "ave cer"
            "achu cont"
    }
}
@media(max-width: 480px){
    .header
    .menu{
        display: flex;
        flex-direction: column;
    }
}